.wedding
{
    /* background-color: #c5c2c2; */
}

.occasion_heading
{
    padding: 20px 0;
    /* background-color: cadetblue; */
}
.occasion_info
{
    margin: 40px auto;
}
.occasion_info img 
{
    text-align: center;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    cursor: pointer;
    transition: all 0.8s;
}
.occasion_info img:hover
{
    transform: scale(1.1);
}
.occasion_info h5
{
    font-weight: bold;
    padding: 10px 0;
    cursor: pointer;
}
.mySlides
{
    display: none;
}
.card_info h5
{
    padding-top:10px ;
}


.dot
{
    cursor: pointer;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background-color: #bbb;
    margin: 0 4px;
    display: inline-block;
}
.active, .dot:hover
{
    background-color: #717171;
}
/* the next page */
.card_info img 
{
    cursor: pointer;
}


.finally h5 {font-weight: bold;}

.finally i {
    color: rgb(153, 150, 150);
}
.finally a
{
    color: rgb(182, 179, 179);
    padding-top: 10px ;
    text-decoration: none;
    transition: all 0.1s;
}
.finally a:hover 
{
    color: #fff;
}
footer
{
    background-color: rgb(48, 49, 49);
}
