/* rgba(214, 46, 51 , 0.6); */

/*start style siction:-1 */

*
{
  font-family:'Times New Roman', Times, serif
}
.side-bar .side-nav 
{
  display: none;
  background-color:#6c7183 !important;
  width:27%;
  height:100%;
  position: fixed;
  left:0px; 
  z-index: 9999999; 
}

.side-ul>.navbar-nav>.nav-item a:hover
{
    color:red !important;
}
.side-ul>.navbar-nav>.nav-item a
{
    color:#FFF;
    transition:all 0.4s;
}

#closes
{
    position: absolute;
    top: 30px;
    right: 40px;
    cursor: pointer;
    font-size: 2rem;
}

.side-ul
{
    font-size:2rem;
    font-weight: 500;
    transition: all 2s;
    position:absolute;
    top:100px;
  
}

.side-bar .bot-nav
{
   font-size: 30px;
   color:#FFF;
   cursor: pointer;
   position:absolute;
   top:200px;
   left:10px;
  

}
/* start Sectio Hiddeng */

.line1
{
   background-color: red;
   width:40%;
   margin: auto auto 10px auto;
   height:3px;
   transition:all 2s;
}
.line2
{
   background-color: red;
   width:30%;
   margin: auto auto 10px auto;
   height:3px;
   transition:all 2s
}
.line3
{
   background-color: red;
   width:20%;
   margin: auto auto 7px auto;
   height:3px;
   transition:all 2s
}
.for-line:hover .line1{width:50%;}
.for-line:hover .line2{width:40%;}
.for-line:hover .line3{width:30%;}

/* End Sectio Hiddeng */
.slid-prodect
{
    height: 700vh;
}
@media (min-width: 768px){
.col-md-3 {
    -ms-flex: 0 0 25%;
    flex: 0 0 25%;
    max-width: 36%;
}
}
.item-caption
{
    background-color: rgb(222, 223, 224);
}

/* End Style section:-1 */

/* start section:-2 */
.slid-1
{
    background-image: url('../img/VQS-001-1.jpg');
    background-size:100% 100%;
    background-position: center center;
    height:900px;
}

.slid-1 .layer
{
    background-color:  rgba(0,0 ,0 , 0.5);
    width:100%;
    height:100%;
}
.slid-1 .cont
{
   
    width:100%;
    margin:300px auto;
    color: #FFF;
}

.slid-1 .cont h2
{
    font-size:4rem;
}
.slid-1 .cont p
{
    font-size:1.4rem;
}

/* End section:-2 */

/* start section 3 */

/* end section 3 */

